.task-box {
  display: flex;
  flex-direction: column; /* Ensure the cards stack vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 15px; /* Add some margin at the top */
  max-height: 205px;
  overflow-y: auto;
}

.TaskAddBoxCard-container {
  cursor: pointer;
  width: 100%; /* Ensure the card takes up the full width of its container */
  height: 50px; /* Adjust height as needed */
  /* Add some margin between cards */
  background-color: #000000;
  border: 1px solid #1e90ff;
  border-radius: 5px;
  display: flex; /* Ensure flexbox layout */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space items evenly */
}

.task-card-grid {
  display: flex;
  align-items: center;
}
