.log-in-footer-container {
  display: flex; /* Use flexbox for easier centering */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  gap: 20px; /* Gap between items */
  background-color: #1a1a1a;
}

.login-back-step-button,
.new-multi-task-button-login,
.login-next-step-button {
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #1e90ff;
  color: #ffffff;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 16px;
  outline: none;
  margin: 0 auto; /* Center the button within its container */
}

.new-multi-task-button-login {
  width: 33px;
  height: 33px;
  border-radius: 30px;
  margin-left: 0; /* Remove the left margin */
}
